::ng-deep {

    .p-steppanel-content {
        display: block;
    }

    @media (max-width: 767px) {


        /* текст шага */
        .p-step-title {
            font-size: 0.75rem;
        }

        /* круг */
        .p-step-number {
            font-size: 0.7rem;
            line-height: 20px;
        }

        /* header шага */
        .p-step-header {
            gap: 6px;
        }

    }
}

@media (max-width: 767px) {

    .p-stepper {
        --p-stepper-step-number-size: 1.5rem;
        --p-stepper-step-gap: 0.5rem;
    }

}



.footer-mask {

    background: white;

    box-shadow: 0 -6px 20px rgba(0, 0, 0, 0.05);

    -webkit-mask-image: linear-gradient(to bottom,
            transparent 0,
            black 20px);

    mask-image: linear-gradient(to bottom,
            transparent 0,
            black 20px);

}

/* отключаем mask на tablet / desktop */
@media (min-width: 768px) {

    .footer-mask {
        -webkit-mask-image: none;
        mask-image: none;
        box-shadow: none;
    }

}