::ng-deep {


    .p-button-sm {
        font-size: 0.9rem;
        padding: 0.6rem 0.875rem;
    }

    .p-steppanel:not(.p-steppanel-active)>.p-steppanel-content,
    .p-steppanel-content.ng-animating {
        overflow: visible;
    }

    @media (max-width: 767px) {


        /* текст шага */
        .p-step-title {
            font-size: 0.75rem;
        }

        /* круг */
        .p-step-number {
            font-size: 0.7rem;
            line-height: 20px;
        }

        /* header шага */
        .p-step-header {
            gap: 6px;
        }

    }
}

@media (max-width: 767px) {

    .p-stepper {
        --p-stepper-step-number-size: 1.5rem;
        --p-stepper-step-gap: 0.5rem;
    }

}



.footer-mask {

    background: white;

    box-shadow: 0 -6px 20px rgba(0, 0, 0, 0.05);

    -webkit-mask-image: linear-gradient(to bottom,
            transparent 0,
            black 20px);

    mask-image: linear-gradient(to bottom,
            transparent 0,
            black 20px);

}

/* отключаем mask на tablet / desktop */
@media (min-width: 768px) {

    .footer-mask {
        -webkit-mask-image: none;
        mask-image: none;
        box-shadow: none;
    }

}

.scene {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

/* сцена */
.stage {
    position: relative;
    height: 180px;
    /* было 200 */
    max-width: 420px;
    /* было 320 */
    margin: 0 auto;
}

/* TV */
.tv-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 440px;
    /* было 260 */
}

/* TV */
.tv {
    width: 100%;
    filter: drop-shadow(0 15px 30px rgba(0, 0, 0, 0.25));
}

/* mount */
.mount {
    position: absolute;
    top: 25px;
    left: 55%;
    transform: translateX(-50%);
    width: 70px;
}

/* 🔥 БРЕНД СТРОКА */
.brand-row {
    margin-top: -20px;

    /* 🔥 подтягиваем к ТВ */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

/* logo */
.logo {
    width: 140px;
    transform: translateX(50px);
    /* 🔥 сдвиг вправо */
}

/* worker */
.worker {
    width: 170px;
    z-index: 9999;
}

/* check */
.check {
    width: 36px;
    height: 36px;
    background: #22c55e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(60px, 0px);
}

.check i {
    color: white;
    font-size: 16px;
}

@media (max-width: 480px) {
    .brand-row {
        margin-top: -40px;
        gap: 8px;
    }

    .logo {
        width: 120px;
        transform: translateX(30px);
    }

    .worker {
        width: 160px;
        /* было 170 → слишком большой */
        transform: translateX(10px);
    }

    .check {
        width: 30px;
        height: 30px;
    }
}

.info-item {
    align-items: flex-start;
    /* уже есть, но фиксируем */
}

.info-item span:last-child {
    word-break: break-word;
}