/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "tailwindcss-primeui";
@import "primeicons/primeicons.css";

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

:root {
    --p-dialog-background: #ffffff;
    --p-dialog-color: #334155;
    --map-button-hover-color: #f1f5f9;
}


:root {
    --app-font: "Montserrat", system-ui, -apple-system, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
    font-family: var(--app-font);
    font-weight: 400;
    line-height: 1.4;
}



.p-drawer-bottom-append {
    bottom: 0 !important;
    position: absolute !important;
    left: 1rem !important;
    width: 27rem !important;
    height: 30rem;
}


@media (max-width: 480px) {
    .p-drawer-bottom-append {
        max-width: 100dvw !important;
        width: 100dvw;
        left: 0 !important;
    }
}

.p-autocomplete-option>span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}


.pin {
    width: 24px;
    height: 24px;
    border-radius: 999px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    display: grid;
    place-items: center;
    border: 2px solid #1a73e8;
}

.pin .dot {
    width: 8px;
    height: 8px;
    border-radius: 999px;
    background: #1a73e8;
}

.cluster-badge {
    min-width: 34px;
    height: 34px;
    padding: 0 8px;
    border-radius: 999px;
    background: #1a73e8;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    display: grid;
    place-items: center;
    box-shadow: 0 2px 12px rgba(26, 115, 232, .4);
    user-select: none;
}

/* Кнопка в стиле примера Google */
.gm-control-button {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    color: rgb(25, 25, 25);
    cursor: pointer;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 38px;
    margin: 8px 0 22px;
    padding: 0 5px;
    text-align: center;
    user-select: none;
}

.gm-control-button:hover {
    background: #f5f5f5;
}

.gm-control-button:focus {
    outline: none;
    border-color: #4d90fe;
}

.p-button-map,
.p-button-group.p-button-map>.p-button,
.p-splitbutton.p-button-map>.p-button {
    color: var(--p-dialog-color) !important;
    background: var(--p-dialog-background) !important;
    border: 1px solid var(--p-surface-border) !important;
}

.p-button-map .p-togglebutton-checked .p-togglebutton-content {
    background: transparent;
    box-shadow: none;
}

.p-button-map .p-togglebutton-checked .p-togglebutton-content {
    background: transparent !important;
    ;
    box-shadow: transparent !important;
}

.p-button.p-button-map:not(:disabled):hover,
.p-button-group.p-button-map>.p-button:not(:disabled):hover,
.p-splitbutton.p-button-map>.p-button:not(:disabled):hover {
    background: var(--map-button-hover-color) !important;
    color: var(--p-dialog-color) !important;
    border-color: var(--p-surface-border) !important;
}

.p-button.p-button-map:not(:disabled):focus,
.p-button-group.p-button-map>.p-button:not(:disabled):focus,
.p-splitbutton.p-button-map>.p-button:not(:disabled):focus {
    box-shadow: none;
}

.p-button.p-button-map:not(:disabled):active,
.p-button-group.p-button-map>.p-button:not(:disabled):active,
.p-splitbutton.p-button-map>.p-button:not(:disabled):active {
    background: var(--map-button-hover-color);
    color: var(--p-dialog-color);
    border-color: var(--p-content-border-color);
}

.p-button.p-button-map.p-button-outlined,
.p-button-group.p-button-map>.p-button.p-button-outlined,
.p-splitbutton.p-button-map>.p-button.p-button-outlined {
    background-color: transparent;
    color: var(--p-content-border-color);
    border: 1px solid;
}

.p-button.p-button-map.p-button-outlined:not(:disabled):hover,
.p-button-group.p-button-map>.p-button.p-button-outlined:not(:disabled):hover,
.p-splitbutton.p-button-map>.p-button.p-button-outlined:not(:disabled):hover {
    background: var(--p-surface-700);
    color: var(--p-surface-700);
    border: 1px solid;

}

.p-button.p-button-map.p-button-outlined:not(:disabled):active,
.p-button-group.p-button-map>.p-button.p-button-outlined:not(:disabled):active,
.p-splitbutton.p-button-map>.p-button.p-button-outlined:not(:disabled):active {
    background: var(--p-surface-700);
    color: var(--p-surface-700);
    border: 1px solid;
}

.p-button.p-button-map.p-button-text,
.p-button-group.p-button-map>.p-button.p-button-text,
.p-splitbutton.p-button-map>.p-button.p-button-text {
    background-color: transparent;
    color: var(--p-content-border-color);
    border-color: transparent;
}

.p-button.p-button-map.p-button-text:not(:disabled):hover,
.p-button-group.p-button-map>.p-button.p-button-text:not(:disabled):hover,
.p-splitbutton.p-button-map>.p-button.p-button-text:not(:disabled):hover {
    background: var(--p-surface-700);
    border-color: transparent;
    color: var(--p-content-border-color);
}

.p-button.p-button-map.p-button-text:not(:disabled):active,
.p-button-group.p-button-map>.p-button.p-button-text:not(:disabled):active,
.p-splitbutton.p-button-map>.p-button.p-button-text:not(:disabled):active {
    background: var(--surface-hover);
    border-color: transparent;
    color: var(--p-content-border-color);
}